*
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;1,200&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
}
.list-non-bullet {
    list-style: none;
}

.list-item-inline{
display: inline;
padding: 0rem 0.5rem;
}
.nav-bar{
    background-color:#374151;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.nav-bar .nav-pills{
    text-align: right;
}
.nav-bar .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}
.nav-bar .link{
    color: white;
    text-decoration: none;
}
.nav-bar .link-active{
    font-weight: bold;
}
.myform{
    width: 45vw;
    margin-left: 54.5vw;
    height: 42vw;
    background-color: white;
    padding: 1vw;
}
.myform .form-h{
    font-size: 4vw;
    text-align: center;
    color: #7C3AED;
}
hr{
    opacity: 0.3;
    color: black;
   margin-top: 2vw;
}
.c1{
    padding-left: 6vw;
    padding-top: 1vw;
    padding-bottom: 3vw;
}
.user{
    font-size: 2.5vw;
    padding-top: 1vw;
}
.b1{
    margin-top: 1vw;
    width: 31vw;
    height: 3vw;
    font-size: 1.3vw;
}

.pass{
    font-size: 1.2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.btn{
    height: 3vw;
    width: 31vw;
    font-size: 1.4vw;
    background-color: #F87171;
    color: white;
   margin-top: 1vw;
}

.btn:hover{
    background-color: #60A5FA;
    color: black;
}

